git+https://github.com/microsoft/autogen.git@v0.4.0dev0#egg=autogen-core&subdirectory=python/packages/autogen-core
git+https://github.com/microsoft/autogen.git@v0.4.0dev0#egg=autogen-agentchat&subdirectory=python/packages/autogen-agentchat
langchain==0.3.1
browsergym==0.7.1
langchain-openai==0.2.2
aiohttp==3.10.9
pydantic==2.9.2
